<h3>cocktails</h3>
<div>
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
  </ul>
</div>

<p><%= link_to 'add a new cocktail', new_cocktail_path %></p>







